.logo {
  width: 100%;
  transform: skew(20deg);
  position: relative;
  animation: move 2s infinite;
  border-radius: 6px;
}

@keyframes move {
  0% {box-shadow: 0; left: 0; bottom: 0;}
  10% {box-shadow: -10px 2px 2px 1px black; left: 2px; bottom: 2px;}
  20% {box-shadow: -10px 4px 4px 1px black; left: 4px; bottom: 4px;}
  30% {box-shadow: -10px 6px 6px 1px black; left: 6px; bottom: 6px;}
  40% {box-shadow: -10px 8px 8px 1px black; left: 8px; bottom: 8px;}
  /* 50% {box-shadow: 0; top: 10px; bottom: 10px;} */
  60% {box-shadow: -10px 8px 8px 1px black; left: 8px; bottom: 8px;}
  70% {box-shadow: -10px 6px 6px 1px black; left: 6px; bottom: 6px;}
  80% {box-shadow: -10px 4px 4px 1px black; left: 4px; bottom: 4px;}
  90% {box-shadow: -10px 2px 2px 1px black; left: 2px; bottom: 2px;}
  100% {box-shadow: 0; left: 0; bottom: 0;}
}

.welcome{
  background-image: url("imgs/movieWall.jpeg");
  height: 100vh;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animatedBackground 8s linear infinite;
}

.btn-style{
  border-style: none;
  border-width: 0;
  background-color: #61dafb;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
}

.btn-style:hover{
  background-color: bisque; 
  
}

.btn-roboto{
  font-family: 'Roboto', sans-serif;
}

body, html{
  height: 100%;
  background-color: whitesmoke !important;
}

.list-group-item{
  border: none !important;
}
.list-group-item h5{
  display: inline-block;
  float: left;
}

.list-group-item button{
  float: right;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.center-welcome-msg{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 8% 5% 8% 5%;
  background-color: #a95aec;
  opacity: 0.9;
  border-radius: 15px;
  border-style: dotted;
  border-color:turquoise;
  border-width: 8px;
  animation: animatedBorder 1s ease infinite;
}

@keyframes animatedBorder {
  0% {border-style: dotted;}
  50% {border-style: dashed;}
  100% {border-style: solid;}
}

.welcome-msg{
  opacity: 1 !important;
  color: white;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
